// Selection
// --------------------------------------------------
::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}

// Global Classes
// --------------------------------------------------
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	text-align: center;
	@media #{$medium} {
		border: solid 7px #D7E2E3;
		margin-right: 1rem;
		float: left;
	}
}
.image-right {
	float: none;
	text-align: center;
	@media #{$medium} {
		margin-left: 1rem;
		border: solid 7px #D7E2E3;
		float: right;
	}
}

.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}


// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}

a {
	color: #81e2ff !important;
	&:visited {
		color: #81e2ff !important;
	}
}
